2021-icws/docker/initialized-winery/tosca-definitions/artifacttemplates/http%3A%2F%2Fopentosca.org%2Fartifacttemplates/OpenStack_Train-CloudProviderInterfaceIA-w1/source/src/main/webapp/wsdl/openStack_Train-CloudProviderInterfaceIA_w1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="OpenStackTrainIAService" targetNamespace="http://implementationartifacts.opentosca.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://implementationartifacts.opentosca.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://implementationartifacts.opentosca.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://implementationartifacts.opentosca.org/" version="1.0">

  <xs:element name="createVM" type="tns:createVM"/>

  <xs:element name="terminateVM" type="tns:terminateVM"/>

  <xs:complexType name="createVM">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="HypervisorEndpoint" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="HypervisorUserName" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="HypervisorUserPassword" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="HypervisorTenantID" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="VMType" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="VMImageID" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="VMUserName" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="VMUserPassword" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="VMPrivateKey" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="VMPublicKey" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="VMKeyPairName" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="VMSecurityGroup" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="terminateVM">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="HypervisorTenantID" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="HypervisorUserName" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="HypervisorUserPassword" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="VMInstanceID" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="createVM">
    <wsdl:part name="parameters" element="tns:createVM">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="terminateVM">
    <wsdl:part name="parameters" element="tns:terminateVM">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OpenStackTrainIA">
    <wsdl:operation name="createVM">
      <wsdl:input name="createVM" message="tns:createVM">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="terminateVM">
      <wsdl:input name="terminateVM" message="tns:terminateVM">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OpenStackTrainIAServiceSoapBinding" type="tns:OpenStackTrainIA">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createVM">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createVM">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="terminateVM">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="terminateVM">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OpenStackTrainIAService">
    <wsdl:port name="OpenStackTrainIAPort" binding="tns:OpenStackTrainIAServiceSoapBinding">
      <soap:address location="http://localhost:9090/OpenStackTrainIAPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
